.menu {
	background: url('../img/bg/menu_bg.png') 50% no-repeat;
	background-size: cover;
	position: relative;
}

.menu__title {
	position: absolute;
	top: 10%;
	left: 10%;
	color: #fff
}

.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	height: 100vh;
	max-width: 100%;
}

.menu-acco__item {
	display: flex;
	overflow: hidden; 

	&.--active {
		
		.menu-acco__trigger-text {
			color: $yellow;
		}
		.menu-acco__content {
		}

	}
}

.menu-acco__trigger {
	width: rem(80px);
	display: flex;
	height: 100%;
	@include cover;
	text-decoration: none;
  	position: relative;
 	padding: 20px;
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	transform: translate(-50%) rotate(-90deg);
	left: 50%;
	top: 45%;
	@include tablets {
		margin-top: rem(-50px);
  }
}

.menu-acco__content {
	display: block;
	height: 100%;
	background: rgba(#2f3234, .93);
	color: #fff;
	width: 100%;
	line-height: 1.8;
	opacity: 0;
	visibility: hidden;
	max-width: 0px;
	&.-active {
		max-width: 540px;
		padding: rem(60px) rem(30px);
		opacity: 1;
		visibility: visible;
	}
}
