.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);  
  position: relative;
  @include tablets {
    width: 50%;
    height: 25%;
  }

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}
.reviews__item p {
  font-size: rem(14px);
  line-height: rem(24px);
  letter-spacing: rem(1.2px);
  margin-bottom: rem(30px);
  @include tablets {
    margin-bottom: rem(10px);
  }
  @include phones {
    display: none;
  }
}

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#454545, .7);
  opacity: 0;
  transition: opacity .3s;
  color: #fff;
  padding: rem(51px) rem(34px) 0 rem(21px);
  @include tablets {
    text-align: center;
    padding-top: 0;
  }
  @include phones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.reviews__btn {
  @include phones { 
    content: 'Читать отзыв';
  }
}